@import url(basic.css);
/* @import url(basic.css); 이렇게 하면 basic.css에 적힌 내용이 여기에 다 적힌다고 보면 됨. 연결시키는거얌.*/

.container {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;

}

.item {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100px;
    height: 100px;
    background-color: blue;
    line-height: 100px;
    text-align: center;
}