@import url(basic.css);

.container {
    display: flex;
}

.item {
    /* 
    flex-basis: auto;기본값이라 안 적어도 됨.
    flex-basis는 잘 안 써
    너비를 100px로 잡았을 때 자식의 내용이 넘쳐도 그냥 넘치게 늘어나. 뭐 그래서 잘 안 쓰는 듯? 실무에서는 */
    flex-basis: 100px;
   
    /*  width: 100px; 요렇게 하면 저게됨. 넘치는 부분 안보임. 그런데 이걸 없애면 넘치면 박스 사이즈가 커짐. */
    width: 100px;
}