@charset "UTF-8";
*{
    margin: 0;padding: 0;
}

#wrap{
    width: 1200px;margin: 0 auto;

}
header{
    height: 150px;
    background-color: #227c70;
}
aside{
    float: left;
    width: 400px;height: 700px;
    background-color: #cb1c8d;
}
section{
    float: left;
    width: 800px;
    height: 700px;
    background-color: greenyellow;
}
footer{
    clear: both;
    width: 100%;height: 150px;
    background-color: darkkhaki;
}

@media(max-width:1200px){
    #wrap{width: 95%;}
    aside {width: 30%;}
    section{width: 70%;}   
    /* 왜 95%, 30%, 70% 했냐! 전체 화면서 저만큼을 차지하겠다 이거야. 그냥 px단위로 너비를 주면 넘치면 스크롤이 생기는데 %로 주면 스크롤이 생기지 않아. */
} /*max-width:1200px*/

/* .이나 # 없이 그냥 불러 */
/* 형이랑 동생이랑 나란히 정렬하려면 형에 float: left; 동생에 float: right;준다.
그런데 형 밑에 동생을 놓으면서 동생 위치를 왼, 오른으로 하고 싶으면 동생한테만 float: left;,  float: right; 줘야해.
그런데 형이 float 있으면 동생도 float줘야 안 깨져.
동생이 float 있을 때는 꼭 주지 않아도 되고 위의 상황을 보고 그 상황에 맞게 주면 됨. */
/* 근데 동생에 플롯을 안 주고 안 깨지게 하려면 동생하넽 clear: both; 주면 됨. */
/* 반응형을 했는데 밑에 스크롤바가 생기면 절대 안 돼!!
아주 있을 수가 없는 일이여!! */