@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid maroon;
    background-color: greenyellow;
}   

.item {
    border: 2px solid lightslategray;
    background-color: hotpink;
}